<template>


    <Disclosure as="nav" class="bg-gray-100  shadow-md" v-slot="{ open }">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <DisclosureButton class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Open main menu</span>
            <MenuIcon v-if="!open" class="block h-6 w-6" aria-hidden="true" />
            <XIcon v-else class="block h-6 w-6" aria-hidden="true" />
          </DisclosureButton>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow" />
            <!-- <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow" /> -->
          </div>
          <div class="hidden sm:block ">
            <div class="flex space-x-4">
              <router-link v-for="item in navigation" :key="item.name" :to="item.href" :class="[ 'px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-300 hover:text-black']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</router-link>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 m:pr-0">

            <!-- <router-link v-for="item in itemNavigation" :key="item.name" :to="item.to" :class="[ 'px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-300 hover:text-black']" :aria-current="item.show ? 'page' : undefined" v-show="!item.show">
            <div >{{ item.name }}</div></router-link> -->

            <router-link to="/login" v-show="!isloggedIn" :class="[ 'px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-300 hover:text-black']"><div >Login</div> </router-link>
            <router-link to="/register" v-show="!isloggedIn" :class="[ 'px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-300 hover:text-black']"><div >Register</div> </router-link>
            <router-link to="/dashboard" v-show="isloggedIn" :class="[ 'px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-300 hover:text-black']"><div >Dashboard</div> </router-link>
            <button @click="logout"  v-show="isloggedIn" :class="[ 'px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-300 hover:text-black']">
            <div><div>Logout</div> </div>
            </button>
          <button type="button" class="bg-gray-200 p-1 rounded-full text-gray-600 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-600 focus:ring-white">
            <span class="sr-only">View notifications</span>
            <BellIcon class="h-6 w-6" aria-hidden="true" />
          </button>

          <!-- Profile dropdown -->
            <Menu as="div" class="ml-3 relative">
            <div>
              <MenuButton class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
              </MenuButton>
            </div>
            <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
              <MenuItems class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                <MenuItem v-slot="{ active }">
                  <a href="#" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Your Profile</a>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <a href="#" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Settings</a>
                </MenuItem>
                	<MenuItem v-slot="{ active }">
                  <router-link to="/logout"  :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Sign out</router-link>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <a  :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']" @click="show_modal = true" >Log In</a>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <router-link to="/register"  :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Register</router-link>
                </MenuItem>
              </MenuItems>
            </transition>
            </Menu>


        </div>
      </div>
    </div>

    <DisclosurePanel class="sm:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <router-link v-for="item in navigation" :key="item.name" :to="item.href" :class="['block px-3 py-2 rounded-md text-base font-medium hover:bg-gray-300 hover:text-black']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</router-link>
      </div>
    </DisclosurePanel>
    </Disclosure>




</template>

<script>
import User from '../apis/User'
//navigation

import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { BellIcon, MenuIcon, XIcon } from '@heroicons/vue/outline'

// end navigation

const navigation = [
  { name: 'Home', href: '/', current: false },
  { name: 'About', href: '/about', current: false },
  { name: 'User', href: '/user', current: false,  },

]

const itemNavigation = [
  {name:'Login', to:'/login',show: false},
  {name:'Register', to:'/register',show: false},
  {name:'Dashboard', to:'/dashboard',show: false},
  {name:'Logout', to:'/logout',show: false}
  ];

export default {
    data() {
        return {
          isloggedIn: false,

        }
    },

    mounted() {
      this.emitter.on("login", () => {
        this.isloggedIn = true;
      });

      this.isloggedIn = !!localStorage.getItem('auth')
    },
    components: {
    Disclosure,
    DisclosureButton,
    DisclosurePanel,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    BellIcon,
    MenuIcon,
    XIcon,

  },
  setup() {
    return {
        navigation,
        itemNavigation
    }
  },

    methods: {
      logout(){
         User.logout().then(() => {
            this.isloggedIn = false
            localStorage.removeItem('auth');
            this.$router.push({name: 'Home'});
        })
      }
  },


};
</script>

<style>
    .container {
        width: 100%;
    }

    @media (min-width: 640px) {
        .container {
            max-width: 640px
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 768px
        }
    }
    @media (min-width: 1024px) {
        .container {
            max-width:1024px
        }
    }
     @media (min-width: 1280px) {
        .container {
            max-width: 1217px
        }
    }
</style>




