<template>
    <h1 class="text-5xl text-gray-800 font-semibold">Dashboard</h1>
    <div v-if="user">
        <h3>Fullname : {{ user.name }}</h3>
        <h3>Email : {{ user.email }}</h3>
    </div>
</template>
<script>
import User from '../apis/User'
export default {
    data() {
        return {
            user: null,
        }
    },
    mounted() {
        User.auth().then(response => {
            this.user = response.data
        })
    },
}
</script>