<template>
<div class="relative">
    <Navigation />
    <div class="container mx-auto pt-3 h-screen">
        <router-view />
    </div>
</div>

</template>

<script>
import Navigation from "./components/Navigaton.vue";
export default {
  components: {
    Navigation
  }
};
</script>

<style scoped>
    .container {
        width: 100%;
    }

    @media (min-width: 640px) {
        .container {
            max-width: 640px
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 768px
        }
    }
    @media (min-width: 1024px) {
        .container {
            max-width:1024px
        }
    }
     @media (min-width: 1280px) {
        .container {
            max-width: 1217px
        }
    }
</style>